@keyframes download-animation{
    0% {
        opacity: 50%;
    }
    50% {
        opacity: 100%;
    
      }
    
    100% {
        opacity: 50%;
      }
    }
body {
    margin: 0;
    padding: 0;
    background-color:#5959596b;
    font-family: 'Outfit';
    overflow-y: hidden;
    overflow-x: hidden;
  }

.light { font-family: "OutfitLight", sans-serif; }
.regular { font-family: "OutfitRegular", sans-serif; }
.medium { font-family: "OutfitMedium", sans-serif; }

.printer-invisible-hover{
    position: fixed;
    width: 10px;
    height: 10px;
    background-color: red;
    left: 0;
    top: 0;
}

.printer-invisible-hover:hover{
    background-color: green;
    .page{
        background-color: green;
    }
}
#download-button{
    cursor: pointer;
    transition: .3s ease color, .3s ease transform;
    animation: download-animation 1.5s infinite;
}
#download-button:hover{
    transform: scale(1.2);
}
.page {
    width: 8.3in;
    height: 11.68in;
    background-color: white;
    margin: 10px auto;
    overflow: hidden;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.452);
    transform-origin: top ;
    transition: transform 0.5s ease;
}

header{
    display: flex;
    height: 21%;
}

.profile{
    display: flex;
    width: 35%;
    align-items: center;
    justify-content: center;
  }

.profile img{
    width: 68%;
  }

.information{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.information h1{
    font-size: 48px;
    margin: 0px;
    font-weight: 600;
    font-family: 'OutfitBold', 'Outfit';

}

.information h2{
    font-size: 28px;
    font-weight: 400;
    font-family: 'OutfitRegular', 'Outfit';
    color: #595959;
    margin: 0px;

}

.information .contact{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}


.information .contact div{
    margin-right: 10px;
    font-size: 1.1rem;
}

.information .contact .contact-elem{
    padding: 5px 10px 0px 0px;
    font-family: 'OutfitRegular', 'Outfit';
    display: flex;
    align-items: center;
}

.information .contact .contact-elem img{

    margin-right: 10px;
}

.information .contact .contact-elem a, a:active, a:link{
    text-decoration: none;
    color: black;
    font-family: 'OutfitRegular', 'Outfit';
}
.information .contact .contact-elem i{
    margin-right: 10px;
}

main {
    display: flex;
    width: 100%;
    height: 80%;
}
#hr{
    width: 75%;
    height: 2px;
    background-color: rgb(199, 199, 199);
    margin: 5px auto;
}
main .left-col{
    width: 34%;
    height: 100%;
    background-color: #F3F3F3;
    padding-top: 2px;
}

main .left-col section{
    padding: 0px 25px;
    ;
}
main .left-col section h1{
    font-weight: 500;
    font-family: 'OutfitMedium', 'Outfit';
}
main .left-col section ul {
    padding-inline-start: 20px;
}
main .left-col section ul li{
    font-weight: 300;
    font-family: 'OutfitLight', 'Outfit';
    color: #595959;
    font-size: 17px;
}

main .left-col section .languages-container{
    display: flex;
    justify-content: space-between;
}

main .left-col section .languages-container .languages, .languages-level{
    justify-content: space-between;
    font-size: 17px;
}

main .left-col section .languages-container .languages p, .languages-level p{
    margin: 5px 0px;
    font-family: 'OutfitRegular', 'Outfit';
}

main .left-col h4{
    font-family: 'OutfitBold', 'Outfit';
}
main .left-col section .languages-container .languages{
    font-weight: 300;
    font-family: 'OutfitLight', 'Outfit';
}

main .left-col section .studies{
    margin: 14px 0px;
}

main .left-col section .studies > * {
    margin: 2px 0px;
    font-size: 17px;

}

main .left-col section .studies h3{
    font-weight: 300;
    font-family: 'OutfitLight', 'Outfit';
}

main .left-col section .cert{
    margin: 2px 0px;
    font-size: 14px;
    cursor: pointer;
}

.cert {
    color: black;            
    text-decoration: none;   
    cursor: pointer;         
}


main .right-col{
    width: 65%;
    height: 100%;
    position: relative;

}

main .right-col section{
    margin: 10px 15px;
    text-align: justify;
}

main .right-col .experience{
    margin-bottom: 20px;
}

main .right-col .experience > *{
    margin: 1px 4px;
    text-align:left;
}

main .right-col section h1{
    margin: 0px 0px;
    margin-bottom: 3px;
    font-family: 'OutfitBold', 'Outfit';

}

main .right-col section h2{
    font-size: 16px;
    font-weight: 300;
    font-family: 'OutfitLight', 'Outfit';
}
main .right-col section a{
    font-weight: 200;
    font-size: 15px;
    font-family: 'OutfitExtralight', 'Outfit';
}
main .right-col section h3{
    font-size: 20px;
    font-weight: 500;
    font-family: 'OutfitMedium', 'Outfit';
}
main .right-col .key-technologies{
    font-size: 12px;
    font-weight: 400;
    font-family: 'OutfitRegular', 'Outfit';
    color: #595959ad;
}
main .right-col section ul li{
    font-size: 15px;
    font-weight: 300;
    font-family: 'OutfitLight', 'Outfit';
}

main .right-col .rodo{
    position: absolute;
    bottom: 0;
    margin: 10px;
    text-align: justify;
    font-size: 10px;
    font-weight: 200;
    font-family: 'OutfitExtralight', 'Outfit';

    margin-top: auto;

}

@media (max-width: 1000px) {
    .page{
        /* display: none; */
        transform-origin: top left;
        /* transform: scale(0); */ 
    }
}


body.download{
    overflow-y: scroll;
    overflow-x: scroll;
}

.page.download{
    margin: 0px;
    transform: scale(1);
    height: 11.68in;
    box-shadow: none;
}

#download-button.download{
    display: none;
}